@charset "utf-8";
/*CSS document*/

.hidden
{
	display: none;
}

body
{
	background-color: #fff;
}

#siteContainer
{
	width: 980px;
	margin: 0 auto;
}

#topBar
{
	width: 980px;
	height: 21px;
	background-color: #000;

}


#mainHeader
{
	width: 980px;
	height: 183px;
	border-bottom: solid 1px;
	display: flex;
	flex-direction: row;
}

#logo
{
	width: 164px;
	height: 145px;
	background-color: #000;
	margin-top: 25px;
	margin-left: 30px;
}

#nav
{
	width: 707px;
	height: 42px;
	background-color: #000;

}
#mainNav
{
	margin-left: 50px;
	width: 707px;
	height: 110px;
	margin-top: 50px;
}

#memberBut
{
	width: 172px;
    height: 44px;
    background-color: #000;
    margin-left: auto;
    margin-top: 25px;

}

#heroImg
{
	width: 980px;
	height: 477px;
	margin-top: 50px;
	background-color: #000;
}



#title1
{
	width: 980px;
    height: 239px;
    background-color: #000;
    margin-top: 25px;
}



#newText
{
	margin-top: 15px;
	width: 820px;
	/*height: 182px;*/
	
	margin-left: 77px;
	display: flex;
	flex-direction: column;
}

#newP
{
	width: 820px;
	height: 182px;
	background-color: #000;
	display: flex;
}

#seeLocation
{
	width: 175px;
	height: 40px;
	margin-top: 25px;
	background-color: #000;
	display: flex;
}


#title2
{
	width: 980px;
	height: 224px;
	background-color: #000;
	margin-top: 62px;
}


#comingUp
{
	/*margin-left: 43px;*/
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 50px;
}

#pjc1
{
	width:382px;
   height: 428px;
   background-color: #000;
   display: flex;
   justify-content: flex-start;
}

#pjc2
{
	width:382px;
   height: 428px;
   background-color: #000;
   display: flex;
   justify-content: flex-start;

}

#title3
{
	width: 980px;
	height: 270px;
	background-color: #000;
	margin-top: 106px;
}


#getInvolved
{
	width: 980px;
	height: 387px;
	margin-top: 42px;
	background-color: #000;
}

#localB
{
	width: 980px;
	height: 375px;
	margin-top: 48px;
	background-color: #000;
}



#mainFooter
{
	width: 980px;
	height: 178px;
	border-top: solid 1px #000;
	display: flex;
	flex-direction: row;
	margin-top: 100px;
}


#footLogo
{
	width: 150px;
	height: 132px;
	background-color: #000;
	display: flex;
	justify-content: flex-start;
	margin-top: 35px;
	margin-left: 15px;

}

#botNav
{
	width:750px; 
	height: 99px;
	background-color: #000;
	display: flex;
	margin-left: 15px;
	margin-top: 54px;


}


#bottomBar
{
	width: 980px;
	height: 21px;
	background-color: #000;

}





